micronaut/HELP.md
micronaut/target/
!micronaut/.mvn/wrapper/maven-wrapper.jar
!micronaut/**/src/main/**
!micronaut/**/src/test/**

### STS ###
micronaut/.apt_generated
micronaut/.classpath
micronaut/.factorypath
micronaut/.project
micronaut/.settings
micronaut/.springBeans
micronaut/.sts4-cache

### IntelliJ IDEA ###
micronaut/.idea
micronaut/*.iws
micronaut/*.iml
micronaut/*.ipr

### NetBeans ###
micronaut/nbproject/private/
micronaut/nbbuild/
micronaut/dist/
micronaut/nbdist/
micronaut/.nb-gradle/
micronaut/build/

### VS Code ###
micronaut/.vscode/

postgres

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular/dist
angular/build
angular/tmp
angular/out-tsc
# Only exists if Bazel was run
angular/bazel-out

# dependencies
angular/node_modules

# profiling files
angular/chrome-profiler-events*.json
angular/speed-measure-plugin*.json

# IDEs and editors
angular/.idea
angular/.project
angular/.classpath
angular/.c9/
angular/*.launch
angular/.settings/
angular/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
angular/.sass-cache
angular/connect.lock
angular/coverage
angular/libpeerconnection.log
angular/npm-debug.log
angular/yarn-error.log
angular/testem.log
angular/typings

# System Files
.DS_Store
Thumbs.db
# compiled output
nestjs/dist
nestjs/node_modules

# Logs
nestjs(logs
nestjs/*.log
nestjs/npm-debug.log*
nestjs/yarn-debug.log*
nestjs/yarn-error.log*
nestjs/lerna-debug.log*

# OS
.DS_Store

# Tests
nestjs/coverage
nestjs/.nyc_output
# IDEs and editors
nestjs/.idea
nestjs/.project
nestjs/.classpath
nestjs/.c9/
nestjs/*.launch
nestjs/.settings/
nestjs/*.sublime-workspace
# IDE - VSCode
nestjs/.vscode/*
nestjs/!.vscode/settings.json
nestjs/!.vscode/tasks.json
nestjs/!.vscode/launch.json
nestjs/!.vscode/extensions.json
# sqlite
nestjs/*.db
# file env
nestjs/*.env