backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**
!backend/**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
# Only exists if Bazel was run
frontend/bazel-out

# dependencies
frontend/node_modules

# profiling files
frontend/chrome-profiler-events*.json
frontend/speed-measure-plugin*.json

# IDEs and editors
frontend/.idea
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/typings

# System Files
.DS_Store
Thumbs.db
# compiled output
nestjs/dist
nestjs/node_modules

# Logs
nestjs(logs
nestjs/*.log
nestjs/npm-debug.log*
nestjs/yarn-debug.log*
nestjs/yarn-error.log*
nestjs/lerna-debug.log*

# OS
.DS_Store

# Tests
nestjs/coverage
nestjs/.nyc_output
# IDEs and editors
nestjs/.idea
nestjs/.project
nestjs/.classpath
nestjs/.c9/
nestjs/*.launch
nestjs/.settings/
nestjs/*.sublime-workspace
# IDE - VSCode
nestjs/.vscode/*
nestjs/!.vscode/settings.json
nestjs/!.vscode/tasks.json
nestjs/!.vscode/launch.json
nestjs/!.vscode/extensions.json
# sqlite
nestjs/*.db
# file env
nestjs/*.env